body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.star {
    background-color: white;
    border-radius: 30px;
    width: 1px;
    height: 1px;
    position: absolute;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.05s ease-in-out;
    -moz-transition: all 0.05s ease-in-out;
}

.trail {
    background-color: #0ff;
    border-radius: 30px;
    width: 1px;
    height: 1px;
    position: absolute;    
    transition: opacity 2s ease-out, background-color 1s ease-in;
    -webkit-transition: opacity 2s ease-out, background-color 1s ease-in;
    -moz-transition: opacity 2s ease-out, background-color 1s ease-in;
}